.social-icons {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.social-icons img {
    width: 28px;
    height: 28px;

    cursor: pointer;

    transition: 0.3s ease;
}

.social-icons img:hover {
    transform: scale(1.2);
    filter: brightness(1.2);
}